.App{
  /* background-color: #282c34; */
   /* background: rgb(77, 75, 75);
   background: -moz-radial-gradient(circle, rgba(77, 75, 75, 1) 0%, rgba(42, 42, 47, 1) 38%);
   background: -webkit-radial-gradient(circle, rgba(77, 75, 75, 1) 0%, rgba(42, 42, 47, 1) 38%);
   background: radial-gradient(circle, rgba(77, 75, 75, 1) 0%, rgba(42, 42, 47, 1) 38%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d4b4b", endColorstr="#2a2a2f", GradientType=1); */
  
 background: rgb(17, 15, 15);
 background: -moz-radial-gradient(circle, rgba(17, 15, 15, 1) 60%, rgba(0, 0, 0, 1) 100%);
 background: -webkit-radial-gradient(circle, rgba(17, 15, 15, 1) 60%, rgba(0, 0, 0, 1) 100%);
 background: radial-gradient(circle, rgba(17, 15, 15, 1) 60%, rgba(0, 0, 0, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#110f0f", endColorstr="#000000", GradientType=1);
 
}
