
.App{
 background: #141513;
 }
 .bgs {
   background: #141513;
 }
 .landing{
   background-image: url("./images/bgss.svg");
   background-repeat: no-repeat;
   background-size: 100%;
 }
 .footer {
   background-image: url("./images/secondbg.svg");
   background-repeat: no-repeat;
   background-size: 100%;
 }
