body{
  font-family: "PT Serif", serif;
}
.App{
  font-family: "PT Serif", serif;
 background: #141513;
 }
 .dmodal{
   background-color: transparent;
 }
 .bgs {
   font-family: "PT Serif", serif;
   background: #141513;
 }
 .landing{
   font-family: "PT Serif", serif;
   background-image: url("./images/bgss.svg");
   background-repeat: no-repeat;
   background-size: 100%;
 }
 .footer {
   font-family: "PT Serif", serif;
   background-image: url("./images/secondbg.svg");
   background-repeat: no-repeat;
   background-size: 100%;
 }
  .swap {
    font-family: "PT Serif", serif;
    background-image: url("./images/swapbg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .sendcoin{
    font-family: "PT Serif", serif;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20"><text x="10" dy="1.5em" style="font: normal 10px PT Sans;" fill="white">You Send</text></svg>') no-repeat;
    padding-left: 0px;
    font-size: 0.8em

  }
  .getcoin{
    font-family: "PT Serif", serif;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20"><text x="10" dy="1.5em" style="font: normal 10px PT Sans;" fill="white">You Get</text></svg>') no-repeat;
    padding-left: 0px;
    font-size: 0.8em
  }
  /* .dhover:hover{
    font-family: "PT Serif", serif;
    background-color: red;
  } */
  /* .sendcoin:focus, .getcoin:focus, input[type="text"]:focus{
    font-family: "PT Serif", serif;
      border-color: red;
  } */
  .dropdown-item:hover{
    font-family: "PT Serif", serif;
    background-color: #485F4B !important;
  }
