@font-face {
  font-family: "ITC Avant Garde Gothic Lt Bold";
  src: url("../fonts/itc-avant-garde-gothic-lt-bold.ttf");
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #0D0208;
}
.App {
  background: #0D0208;
}
.bgs {
  background: #0D0208;
}
.landing {
  background-image: url("../images/bgss.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer {
  background-image: url("../images/secondbg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 976px){
  .swap {
    background-image: url("../images/swapbg2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.sendcoin {
  background: url('data:image/svg+xml;utf8,You Send')
    no-repeat;
  font-size: 0.8em;
}
.getcoin {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20"><text x="10" dy="1.5em" style="font: normal 10px PT Sans;" fill="white">You Get</text></svg>')
    no-repeat;
  font-size: 0.8em;
}
/* .dhover:hover{
    background-color: red;
  } */
/*.sendcoin:focus, .getcoin:focus, input[type="text"]:focus{
      border-color: red;
  }*/
.dropdown-item:hover {
  background-color: #485f4b !important;
}
.App {
  font-family: "PT Sans", sans-serif;
  background: #0D0208;
}
.header-text {
  font-family: "ITC Avant Garde Gothic Lt Bold";
  font-size: 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
}
.dmodal {
  background-color: transparent !important;
}

.zcf-button-danger {
  background-color: #c04545 !important;
}
.zcf-button-danger:hover {
  background-color: #a93636 !important;
}

.bgs {
  font-family: "PT Sans", sans-serif;
  background: #0D0208;
}
.landing {
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/bgss.svg");
  background-repeat: repeat;
  background-size: 100%;
}
.footer {
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/secondbg.svg");
  background-repeat: repeat;
  background-size: 100%;
}
.button-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700 !important;
  font-size: 18px !important;
}
.force-z {
  z-index: 1 !important;
}

.svgtext {
  fill: #00FF41;
}

.sendcoin{
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20"><text x="10" dy="1.5em" style="font: 10px Sans;" fill="white">You Send</text></svg>') no-repeat;
  }
  .getcoin{
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="20"><text x="10" dy="1.5em" style="font: 10px Sans;" fill="white">You Get</text></svg>') no-repeat;
  }

/* .dhover:hover{
    font-family: "PT Sans", sans-serif;
    background-color: red;
  } */
/* .sendcoin:focus, .getcoin:focus, input[type="text"]:focus{
    font-family: "PT Sans", sans-serif;
      border-color: red;
  } */
.dropdown-item:hover {
  font-family: "PT Sans", sans-serif;
  background-color: #485f4b !important;
}
.nav-button {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  border-radius: 10px;
}
.nav-button:hover {
  background-color: #1f2820 !important;
}

.card-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) !important;
}

.pill-button {
  width: 100%;
  height: 100%;
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: #ffffff;
}

.pill-button:hover {
  text-decoration: none;
  color: #ffffff;
}

.card {
  border-radius: 0.5rem !important;
}

.sub-header-text {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.25;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.social {
  margin-top: -10px;
}

@media (max-width: 575px) {
  .social {
    padding-left: 65px !important;
    padding-top: 20px !important;
    margin-top: 0px;
  }
}
.modal-bg {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6) !important;
  z-index: 2;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.swap-input-text {
  background-color: #354737 !important;
  padding-top: 3% !important;
  padding-left: 6% !important;
  font-size: 24px !important;
  border-radius: 8px 0px 0px 8px !important;
  color: #ffffff !important;
  border: none !important;
  outline: none !important;
}

.hidden {
  display: none;
}

.alert-box {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 25%;
  z-index: 2;
}

.alert-close {
  margin-left: 15px;
  padding-right: 5px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.1s;
}

.alert-yellow {
  margin: 1em 0 1em 0;
  background-color: rgb(108, 115, 49, 0.25);
  border: solid;
  border-color: yellow;
  border-radius: 5px;
  width: 100%;
}
.alert-green {
  margin: 1em 0 1em 0;
  background-color: rgb(49, 115, 51, 0.25);
  border: solid;
  border-color: green;
  border-radius: 5px;
  width: 100%;
}
.alert-red {
  margin: 1em 0 1em 0;
  vertical-align: center;
  background-color: rgb(115, 49, 49, 0.25);
  border: solid;
  border-color: red;
  border-radius: 5px;
  width: 100%;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100%;
  height: 5%;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
